<style>
    @media screen and (max-width: 320px) {
      .g-header-container.fixed {
        padding: 5px;
      }
      .g-footer-container {
        padding: 5px;
      }
      .m-button {
        margin-right: 5px;
        font-size: 12px;
      }
    }
  
    .course-detail {
      font-family: 'Zen Kurenaido', sans-serif;
      margin: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .course-detail h1 {
      font-size: 24px;
      color: #333;
      margin-bottom: 10px;
    }
  
    .course-detail img {
      width: 100%;
      max-width: 700px;
      border-radius: 10px;
      margin: 20px 0;
    }
  
    .about {
      width: 100%;
      max-width: 700px;
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
    }
  
    .about h2 {
      font-size: 20px;
      color: #333;
      margin-bottom: 10px;
    }
  
    .about p {
      line-height: 1.6;
      margin-bottom: 15px;
      color: #555;
    }
  
    .time {
      width: 100%;
      max-width: 700px;
      margin-bottom: 20px;
    }
  
    .time h2 {
      font-size: 20px;
      color: #333;
      margin-bottom: 10px;
    }
  
    .time ul {
      padding-left: 20px;
    }
  
    .time ul li {
      list-style: disc;
      margin-bottom: 10px;
    }
  
    .time ul li a {
      text-decoration: none;
      color: #007BFF;
    }
  
    .time ul li a:hover {
      text-decoration: underline;
      color: #0056b3;
    }
  
    .button-container {
      text-align: center;
      margin-top: 20px;
    }
  
    .i-button {
      font-family: 'Zen Kurenaido', sans-serif;
      background-color: #FBFF36;
      color: #000;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  
    .i-button:hover {
      background-color: #777777;
      color: #fff;
    }
  </style>
  
  <div class="course-detail">
    <h1>{{ course.name }}</h1>
    {% if course.applicable_level %}
      <div class="subtitle">(適合 {{ course.applicable_level }})</div>
    {% endif %}
  
    <img src="{{ course.image.url }}" alt="{{ course.name }}" class="class-img">
  
    <div class="about">
      {% if course.description %}
        <h2>招生對象</h2>
      <p>{{ course.description }}</p>
      {% endif %}
      {% if course.additional_description_1 %}
        <h2>班級</h2>
        <p>{{ course.additional_description_1 }}</p>
      {% endif %}
      {% if course.additional_description_2 %}
        <h2>時間</h2>
        <p>{{ course.additional_description_2 }}</p>
      {% endif %}
      <h2>課程費用</h2>
      <p>價格: {{ course.price|floatformat:0 }} /堂</p>
    </div>
  
    <div class="time">
      <h2>指導教練:</h2>
      <ul>
        {% for coach in course.coaches.all %}
          <li><a href="{{ coach.get_absolute_url }}">{{ coach.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  
    <div class="button-container">
      <a href="{% url 'home' %}"><button class="i-button">回首頁</button></a>
    </div>
  </div>
  