{% extends 'base.html' %}

{% load static %}

{% block title %}
報名課程
{% endblock %}

{% block content %}
<div class="registration-form">
    <h1>報名課程</h1>
    <form method="post">
        {% csrf_token %}

        <!-- 想參與的課程類型 -->
        <fieldset>
            <legend>想參與的課程類型</legend>
            <div class="form-group">
                <!-- 初階班 -->
                <label>初階班 (4000/期)</label>
                <div class="sub-options {% if '初階班' not in form.courseType.value %}hidden{% endif %}">
                    <label><input type="checkbox" name="subCourseType" value="兒童初階班(每週二14:00 - 15:30)" {% if '兒童初階班(每週二14:00 - 15:30)' in form.subCourseType.value %}checked{% endif %}> 兒童初階班 (每週二 14:00 - 15:30)</label>
                    <label><input type="checkbox" name="subCourseType" value="兒童初階班(每週二15:30 - 17:00)" {% if '兒童初階班(每週二15:30 - 17:00)' in form.subCourseType.value %}checked{% endif %}> 兒童初階班 (每週二 15:30 - 17:00)</label>
                    <label><input type="checkbox" name="subCourseType" value="成人初階班(每週一14:00 - 16:00)" {% if '成人初階班(每週一14:00 - 16:00)' in form.subCourseType.value %}checked{% endif %}> 成人初階班 (每週一 14:00 - 16:00)</label>
                    <label><input type="checkbox" name="subCourseType" value="成人初階班(每週一16:00 - 18:00)" {% if '成人初階班(每週一16:00 - 18:00)' in form.subCourseType.value %}checked{% endif %}> 成人初階班 (每週一 16:00 - 18:00)</label>
                </div>
                
                <!-- 競技班 -->
                <label>競技班 (4000/期)</label>
                <div class="sub-options {% if '競技班' not in form.courseType.value %}hidden{% endif %}">
                    <label><input type="checkbox" name="subCourseType" value="一般競技班(每週二14:00 - 16:00)" {% if '一般競技班(每週二14:00 - 16:00)' in form.subCourseType.value %}checked{% endif %}> 一般競技班 (每週二 14:00 - 16:00)</label>
                    <label><input type="checkbox" name="subCourseType" value="一般競技班(每週四16:00 - 18:00)" {% if '一般競技班(每週四16:00 - 18:00)' in form.subCourseType.value %}checked{% endif %}> 一般競技班 (每週四 16:00 - 18:00)</label>
                    <label><input type="checkbox" name="subCourseType" value="進階競技班(每週四14:00 - 16:00)" {% if '進階競技班(每週四14:00 - 16:00)' in form.subCourseType.value %}checked{% endif %}> 進階競技班 (每週四 14:00 - 16:00)</label>
                    <label><input type="checkbox" name="subCourseType" value="進階競技班(每週四16:00 - 18:00)" {% if '進階競技班(每週四16:00 - 18:00)' in form.subCourseType.value %}checked{% endif %}> 進階競技班 (每週四 16:00 - 18:00)</label>
                </div>
                
                <!-- 擊打班 -->
                <label>擊打班 (350/堂)</label>
                <div class="sub-options {% if '擊打班' not in form.courseType.value %}hidden{% endif %}">
                    <label><input type="checkbox" name="subCourseType" value="基礎擊打班(每週五19:00 - 22:00)" {% if '基礎擊打班(每週五19:00 - 22:00)' in form.subCourseType.value %}checked{% endif %}> 基礎擊打班 (每週五 19:00 - 22:00)</label>
                    <label><input type="checkbox" name="subCourseType" value="基礎擊打班(每週六19:00 - 22:00)" {% if '基礎擊打班(每週六19:00 - 22:00)' in form.subCourseType.value %}checked{% endif %}> 基礎擊打班 (每週六 19:00 - 22:00)</label>
                    <label><input type="checkbox" name="subCourseType" value="進階擊打班(每週五19:00 - 22:00)" {% if '進階擊打班(每週五19:00 - 22:00)' in form.subCourseType.value %}checked{% endif %}> 進階擊打班 (每週五 19:00 - 22:00)</label>
                    <label><input type="checkbox" name="subCourseType" value="進階擊打班(每週六19:00 - 22:00)" {% if '進階擊打班(每週六19:00 - 22:00)' in form.subCourseType.value %}checked{% endif %}> 進階擊打班 (每週六 19:00 - 22:00)</label>
                </div>
                
                <!-- 個別班 -->
                <label><input type="checkbox" name="courseType" value="個別班" {% if '個別班' in form.courseType.value %}checked{% endif %}> 個別班 (另付費協商)</label>
            </div>
        </fieldset>

        <button type="submit">提交</button>
    </form>
</div>
{% endblock %}