{% extends 'base.html' %}

{% load static %}

{% block title %}
  分析及報名
{% endblock %}

{% block content %}

<style>
  .registration-form {
    max-width: 600px;
    margin: 0 auto;
    font-family: "Zen Kurenaido", sans-serif;
    color: #333;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.registration-form fieldset {
    border: 1px solid #ddd;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.registration-form legend {
    font-size: 18px;
    padding: 0 10px;
    color: #666;
}

.custom-nav-button {
  font-family: "Zen Kurenaido", sans-serif;
    border-radius: 16px;
    color: #000;
    background-color: #FFF279;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    margin: 10px 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.custom-nav-button:hover {
    color: #fff;
    background-color: #777777;
}
</style>

<div class="registration-form">
    <fieldset>
      <p>還不確定哪個課程最適合你嗎？不知道該選擇哪位教練嗎？點擊這裡，讓我們的分析系統為你推薦最符合需求的課程與教練，幫助你輕鬆找到最佳選擇！</p>
    </fieldset>

    <a href="{% url 'course_Analysis' %}">
        <button class="custom-nav-button">點我分析</button>
    </a>

    <fieldset>
      <p>想快速報名參加課程嗎? 點擊這裡，使用我們的報名系統，快速完成所有步驟，輕鬆確認你的報名並加入我們的課程吧！</p>
    </fieldset>

    <a href="{% url 'course_Registration' %}">
        <button class="custom-nav-button">點我報名</button>
    </a>
</div>

{% endblock %}
