{% extends 'base.html' %}
{% load static %}

{% block title %}
  報名課程
{% endblock %}

{% block content %}
  <style>
    .registration-form {
      font-family: 'Zen Kurenaido', sans-serif;
      margin: 0;
      padding: 20px;
    }
    
    form {
      padding: 100px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      max-width: 900px;
    }
    
    .section {
      margin-bottom: 20px;
    }
    
    .section h3 {
      margin-bottom: 10px;
    }
    
    .section label {
      display: block;
      margin-bottom: 5px;
    }
    
    .button-group {
      text-align: center;
    }
    
    .button-group input {
      font-family: 'Zen Kurenaido', sans-serif;
      border-radius: 16px;
      color: #000;
      background-color: #fff279;
    }
    
    .button-group input:hover {
      font-family: 'Zen Kurenaido', sans-serif;
      border-radius: 16px;
      color: #fff;
      background-color: #777777;
    }
  </style>

  <div class="registration-form">
    <h1>報名課程</h1>
    <form method="post">
      {% csrf_token %}

      <!-- 想參與的課程類型 -->
      <div class="section">
        <h3>想參與的課程類型</h3>

        <div class="form-group">
          <div class="section">
            <!-- 初階班 -->
            <label><input type="checkbox" name="courseType" value="初階班" onchange="toggleSubOptions('初階班')" />初階班 (4000/期)</label>
            <div id="初階班-sub-options" class="sub-options hidden">
              <label><input type="checkbox" name="subCourseType" value="兒童初階班(每週二14:00 - 15:30)" />兒童初階班 (每週二 14:00 - 15:30)</label>
              <label><input type="checkbox" name="subCourseType" value="兒童初階班(每週二15:30 - 17:00)" />兒童初階班 (每週二 15:30 - 17:00)</label>
              <label><input type="checkbox" name="subCourseType" value="成人初階班(每週一14:00 - 16:00)" />成人初階班 (每週一 14:00 - 16:00)</label>
              <label><input type="checkbox" name="subCourseType" value="成人初階班(每週一16:00 - 18:00)" />成人初階班 (每週一 16:00 - 18:00)</label>
            </div>
          </div>

          <div class="section">
            <!-- 競技班 -->
            <label><input type="checkbox" name="courseType" value="競技班" onchange="toggleSubOptions('競技班')" />競技班 (4000/期)</label>
            <div id="競技班-sub-options" class="sub-options hidden">
              <label><input type="checkbox" name="subCourseType" value="一般競技班(每週二14:00 - 16:00)" />一般競技班 (每週二 14:00 - 16:00)</label>
              <label><input type="checkbox" name="subCourseType" value="一般競技班(每週四16:00 - 18:00)" />一般競技班 (每週四 16:00 - 18:00)</label>
              <label><input type="checkbox" name="subCourseType" value="進階競技班(每週四14:00 - 16:00)" />進階競技班 (每週四 14:00 - 16:00)</label>
              <label><input type="checkbox" name="subCourseType" value="進階競技班(每週四16:00 - 18:00)" />進階競技班 (每週四 16:00 - 18:00)</label>
            </div>
          </div>

          <div class="section">
            <!-- 擊打班 -->
            <label><input type="checkbox" name="courseType" value="擊打班" onchange="toggleSubOptions('擊打班')" />擊打班 (350/堂)</label>
            <div id="擊打班-sub-options" class="sub-options hidden">
              <label><input type="checkbox" name="subCourseType" value="基礎擊打班(每週五19:00 - 22:00)" />基礎擊打班 (每週五 19:00 - 22:00)</label>
              <label><input type="checkbox" name="subCourseType" value="基礎擊打班(每週六19:00 - 22:00)" />基礎擊打班 (每週六 19:00 - 22:00)</label>
              <label><input type="checkbox" name="subCourseType" value="進階擊打班(每週五19:00 - 22:00)" />進階擊打班 (每週五 19:00 - 22:00)</label>
              <label><input type="checkbox" name="subCourseType" value="進階擊打班(每週六19:00 - 22:00)" />進階擊打班 (每週六 19:00 - 22:00)</label>
            </div>
          </div>

          <div class="section">
            <!-- 個別班 -->
            <label><input type="checkbox" name="courseType" value="個別班" />個別班 (另付費協商)</label>
          </div>
        </div>
      </div>

      <div class="button-group">
        <button type="submit">提交</button>
      </div>
    </form>
  </div>

  <script>
    function toggleSubOptions(courseType) {
      const subOptions = document.getElementById(courseType + '-sub-options')
      subOptions.classList.toggle('hidden')
    }
  </script>
{% endblock %}