{% extends 'base.html' %}

{% block title %}
報名成功
{% endblock %}

{% block content %}

<style>
    .course-success {
        padding: 20px;
        max-width: 600px;
        margin: 0 auto;
        text-align: left;
    }

    .course-success h1 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #000;
    }

    .course-success p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .course-success ul {
        list-style: none;
        padding: 0;
        margin-bottom: 20px;
        font-size: 16px;
    }

    .course-success li {
        margin-bottom: 10px;
    }

    .course-success li strong {
        font-weight: bold;
    }

    .i-button {
        display: block;
        width: 100%;
        background-color: #fff279;
        color: #000;
        border: none;
        padding: 15px;
        border-radius: 16px;
        font-size: 18px;
        font-family: "Zen Kurenaido", sans-serif;
        cursor: pointer;
        margin-top: 20px;
        text-align: center;
    }

    .i-button:hover {
        background-color: #777777;
        color: #fff;
    }
</style>

<div class="course-success">

    <h1>報名成功！</h1>

    <p>恭喜您，您的課程報名已成功提交！</p>

    <!-- 顯示個人資訊 -->
    <ul>
        <li><strong>姓名：</strong> {{ name }}</li>
        <li><strong>性別：</strong> {{ gender }}</li>
        <li><strong>電話：</strong> {{ phone }}</li>
        <li><strong>Email：</strong> {{ email }}</li>
        <li><strong>生日：</strong> {{ birthday }}</li>
    </ul>

    <!-- 顯示已報名的課程資訊 -->
    <h3>您報名的課程</h3>
    <ul>
        {% for course in selected_courses %}
            <li>{{ course }}</li>
        {% endfor %}
    </ul>

    <!-- 顯示課程總費用 -->
    <p><strong>總費用：</strong> {{ total_cost }} 元</p>

    <p>感謝您的報名，請於一周內至現場付款，若有任何問題，請隨時與我們聯繫！ <p>地點：羽你同行羽球館</p></p>
    

    <!-- 返回首頁按鈕 -->
    <a href="{% url 'course_Analysis_Registration' %}"><button class="i-button">返回報名&分析</button></a>

</div>

{% endblock %}
