{% extends 'base.html' %}

{% load static %}

{% block title %}
分析/推薦
{% endblock %}

{% block content %}

<style>
.registration-form {
    max-width: 600px;
    margin: 0 auto;
    font-family: "Zen Kurenaido", sans-serif;
    color: #333;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

}

.registration-form fieldset {
    border: 1px solid #ddd;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.registration-form legend {
    font-size: 18px;
    padding: 0 10px;
    color: #666;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
select,
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.button-group {
    text-align: center;
    margin-top: 20px;
}

.btn {
    font-family: "Zen Kurenaido", sans-serif;
    border-radius: 16px;
    color: #000;
    background-color: #FFF279;
}

.btn:hover {
    font-family: "Zen Kurenaido", sans-serif;
    border-radius: 16px;
    color: #fff;
    background-color: #777777;
}
</style>

<div class="registration-form">
    <h1>分析/推薦</h1>
    <h2>填寫資料</h2>
    <form method="post" action="{% url 'recommend_teacher' %}">
        {% csrf_token %}
        
        <fieldset>
            <legend>填寫報名資料</legend>
            <div class="form-group">
                <label for="name">姓名</label>
                <input type="text" id="name" name="name" value="{{ form.name.value }}" required>
            </div>
            <div class="form-group">
                <label for="gender">性別</label>
                <select id="gender" name="gender" required>
                    <option value="" disabled {% if not form.gender.value %}selected{% endif %}>-- 請選擇 --</option>
                    <option value="male" {% if form.gender.value == 'male' %}selected{% endif %}>男</option>
                    <option value="female" {% if form.gender.value == 'female' %}selected{% endif %}>女</option>
                    <option value="other" {% if form.gender.value == 'other' %}selected{% endif %}>其他</option>
                </select>
            </div>
            <div class="form-group">
                <label for="phone">聯絡電話</label>
                <input type="text" id="phone" name="phone" value="{{ form.phone.value }}" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="{{ form.email.value }}" required>
            </div>
            
        </fieldset>

        <fieldset>
            <legend>您的羽球階級? <a href="https://2020badminton.blogspot.com/2021/06/blog-post_4.html" target="_blank">查看階級</a></legend>
            <div class="form-group">
                <select name="grade" required>
                    <option value="" disabled selected>選擇您的階級</option>
                    <option value="1" {% if form.grade.value == 1 %}selected{% endif %}>1 - 剛接觸羽球學會比賽規則，並懂得比賽禮儀</option>
                    <option value="2" {% if form.grade.value == 2 %}selected{% endif %}>2 - 在中場距離中高球來回10拍，發球有一半以上成功率</option>
                    <option value="3" {% if form.grade.value == 3 %}selected{% endif %}>3 - 定點有一半可以打到2/3場後，發球有九成以上的成功率</option>
                    <option value="4" {% if form.grade.value == 4 %}selected{% endif %}>4 - 清楚正確握拍法。長球男生定點可以打到後場，女生可以打到中後場；會基本平推；正反拍轉拍不順暢</option>
                    <option value="5" {% if form.grade.value == 5 %}selected{% endif %}>5 - 清楚正確握拍法，略懂基本腳步，基本球路在非受迫時有一定的表現</option>
                    <option value="6" {% if form.grade.value == 6 %}selected{% endif %}>6 - 清楚正確握拍法，略懂基本腳步，並懂得基本輪轉，尚不熟練，已開始會殺球及切球，非受迫時移動長球可至中後場</option>
                    <option value="7" {% if form.grade.value == 7 %}selected{% endif %}>7 - 殺球、切球或長球不論是定點或移動，成功率及穩定性有七成以上。已有基本防守能力，但無變化</option>
                    <option value="8" {% if form.grade.value == 8 %}selected{% endif %}>8 - 有基本戰略及打點，熟悉輪轉概念，切殺長吊均有七成以上準確性，防守有些微變化</option>
                    <option value="9" {% if form.grade.value == 9 %}selected{% endif %}>9 - 切殺長吊中有三種球路有九成以上準確性及質量，發力及力道已有強度，防守要有一定程度的變化及穩定性</option>
                    <option value="10" {% if form.grade.value == 10 %}selected{% endif %}>10 - 輪轉概念熟念並能活化運用，策略性戰略及打點皆能有效得分</option>
                    <option value="11" {% if form.grade.value == 11 %}selected{% endif %}>11 - 切殺長吊皆具準確性，發力及速度、策略兼具，輕鬆完成反拍各種球路。防守具有威脅性</option>
                    <option value="12" {% if form.grade.value == 12 %}selected{% endif %}>12 - 有高速度移位及靈敏地走位與步法，殺切吊都具有高強度侵略性，常有一擊必殺的球路</option>
                    <option value="13" {% if form.grade.value == 13 %}selected{% endif %}>13 - 各種球路都穩定熟練，防守無死角、球速快質量高、戰略組織、爆發力都屬上等</option>
                    <option value="14" {% if form.grade.value == 14 %}selected{% endif %}>14 - 各種球路都穩定熟練，防守無死角、球速快質量高、戰略組織、爆發力都屬上等</option>
                    <option value="15" {% if form.grade.value == 15 %}selected{% endif %}>15 - 各種球路都穩定熟練，防守無死角、球速快質量高、戰略組織、爆發力都屬上等</option>
                    <option value="16" {% if form.grade.value == 16 %}selected{% endif %}>16 - 各種球路、戰術、步法已爐火純青，且發展出個人獨特球路風格</option>
                    <option value="17" {% if form.grade.value == 17 %}selected{% endif %}>17 - 各種球路、戰術、步法已爐火純青，且發展出個人獨特球路風格</option>
                    <option value="18" {% if form.grade.value == 18 %}selected{% endif %}>18 - 各種球路、戰術、步法已爐火純青，且發展出個人獨特球路風格</option>
                </select>
            </div>
        </fieldset>
        
        <fieldset>
            <legend>您學習羽球的動機與目標</legend>
            <div class="form-group">
                <label><input type="checkbox" name="motivation" value="運動健身" {% if '運動健身' in form.motivation.value %}checked{% endif %}> 運動健身</label>
                <label><input type="checkbox" name="motivation" value="提升技巧" {% if '提升技巧' in form.motivation.value %}checked{% endif %}> 提升技巧</label>
                <label><input type="checkbox" name="motivation" value="參加比賽" {% if '參加比賽' in form.motivation.value %}checked{% endif %}> 參加比賽</label>
            </div>
        </fieldset>

        <fieldset>
            <legend>想加強的技術</legend>
            <div class="form-group">
                <label><input type="checkbox" name="techniques" value="發球與接發球" {% if '發球與接發球' in form.techniques.value %}checked{% endif %}> 發球與接發球</label>
                <label><input type="checkbox" name="techniques" value="雙打後場組織進攻" {% if '雙打後場組織進攻' in form.techniques.value %}checked{% endif %}> 雙打後場組織進攻</label>
                <label><input type="checkbox" name="techniques" value="單打四角拉吊" {% if '單打四角拉吊' in form.techniques.value %}checked{% endif %}> 單打四角拉吊</label>
                <label><input type="checkbox" name="techniques" value="雙打輪轉" {% if '雙打輪轉' in form.techniques.value %}checked{% endif %}> 雙打輪轉</label>
                <label><input type="checkbox" name="techniques" value="其他" {% if '其他' in form.techniques.value %}checked{% endif %}> 其他</label>
            </div>
        </fieldset>

        <fieldset>
            <legend>需要指定教練的性別嗎?</legend>
            <div class="form-group">
                <label><input type="radio" name="coachGender" value="男生" {% if form.coachGender.value == '男生' %}checked{% endif %}> 男生</label>
                <label><input type="radio" name="coachGender" value="女生" {% if form.coachGender.value == '女生' %}checked{% endif %}> 女生</label>
                <label><input type="radio" name="coachGender" value="不指定" {% if form.coachGender.value == '不指定' %}checked{% endif %}> 不指定</label>
            </div>
        </fieldset>

        <fieldset>
            <legend>理想的教練特質</legend>
            <div class="form-group">
                <label><input type="checkbox" name="coachTraits" value="有經驗" {% if '有經驗' in form.coachTraits.value %}checked{% endif %}> 有經驗</label>
                <label><input type="checkbox" name="coachTraits" value="理論基礎" {% if '理論基礎' in form.coachTraits.value %}checked{% endif %}> 理論基礎</label>
                <label><input type="checkbox" name="coachTraits" value="有技術" {% if '有技術' in form.coachTraits.value %}checked{% endif %}> 有技術</label>
                <label><input type="checkbox" name="coachTraits" value="專業" {% if '專業' in form.coachTraits.value %}checked{% endif %}> 專業</label>
                <label><input type="checkbox" name="coachTraits" value="嚴厲" {% if '嚴厲' in form.coachTraits.value %}checked{% endif %}> 嚴厲</label>
                <label><input type="checkbox" name="coachTraits" value="多元" {% if '多元' in form.coachTraits.value %}checked{% endif %}> 多元</label>
            </div>
        </fieldset>



        <div class="button-group">
            <a href="{% url 'course_Analysis_Registration' %}"><button type="button" class="btn yellow-btn">返回</button></a>
            <button type="submit" class="btn yellow-btn">查看結果</button>
        </div>
    </form>
</div>
{% endblock %}
