{% extends 'base.html' %}
{% load static %}
{% block content %}
  <style>
    @media screen and (max-width: 320px) {
      .g-header-container.fixed {
        padding: 5px;
      }
    
      .g-footer-container {
        padding: 5px;
      }
    
      .m-button {
        margin-right: 5px;
        font-size: 12px;
      }
    }
    
    .VIP {
      font-family: 'Zen Kurenaido', sans-serif;
      margin-top: 30px;
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    
    .confirmation-container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
    }
    
    .title {
      font-size: 24px;
      margin-bottom: 20px;
      font-family: 'Zen Kurenaido', sans-serif;
    }
  </style>
  <div class="VIP">
    <div class="confirmation-container">
      <div class="title">忘記密碼</div>
      <p>密碼重設連結已發送。請檢查您的收件箱。</p>
    </div>
  </div>
{% endblock %}
