{% extends 'base.html' %}

{% block title %}
  歷史紀錄
{% endblock %}

{% block content %}
  <h1>歷史紀錄</h1>
  {% if registrations %}
    <ul>
      {% for registration in registrations %}
        <li>
          <strong>課程類型：</strong> {{ registration.course_type }} <br>
          <strong>子課程：</strong> {{ registration.sub_course_type }} <br>
          <strong>報名日期：</strong> {{ registration.registration_date }} <br>
          <strong>費用：</strong> {{ registration.cost }} 元
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>目前沒有任何歷史紀錄。</p>
  {% endif %}
{% endblock %}
