{% extends 'base.html' %}

{% load static %}

{% block title %}<title>羽你同行羽球館</title>{% endblock %}

{% block content %}
<style>
     @media screen and (max-width: 320px) {
        .g-header-container.fixed {
            padding: 5px;
        }

        .g-footer-container {
            padding: 5px;
        }

        .m-button {
            margin-right: 5px;
            font-size: 12px;
        }
    }

    .main-container {
        display: flex;
        justify-content: space-between;
    }

    .main {
        font-family: "Zen Kurenaido", sans-serif;
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 70%;
    }

    .sidebar {
        background-color: #f0f0f00e;
        width: 25%;
        position: fixed;
        margin-top: 3%;
        margin-right: 3%;
        padding-top: 10px;
        right: 0;
        height: 70%;
        padding: 20px;
        /* background-color: #f0f0f0; */
        box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    }

    .sidebar:hover {
        background-color: #f0f0f0;
    }

    .QA {
        width: 90%;
    }

    .video-container {
        width: 100%;
        max-width: 800px;
        aspect-ratio: 16 / 9;
    }

    iframe {
        width: 100%;
        height: 100%;
        border-radius: 10pt;
    }

    .video-teach {
        margin-bottom: 20px;
        padding: 10px 0px 10px 0px;
    }

    .video {
        margin-bottom: 10px;
        width: 100%;
        height: auto;
    }

    .coach {
        display: flex;
        flex-wrap: wrap; 
    }

    .coach-item {
        flex-basis: 23%;
        margin-right: 20px;
        text-align: center;
    }

    .coach-img {
        width: 200px;
        height: auto;
        border-radius: 10px;
    }

    .coach-item p {
        margin-top: 15px;
    }

    .class {
        display: flex;
        flex-wrap: wrap; 
    }

    .class-item {
        flex-basis: 23%;
        margin-right: 20px;
        text-align: center;
    }

    .class-img {
        width: 200px;
        height: auto;
        border-radius: 10px;
    }

    .line-img {
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }

    .lineqr-img {
        width: 70px;
        height: 70px;
        border-radius: 10px;
    }

    .mail-img {
        width: auto;
        height: 50px;
        border-radius: 10px;
    }

    .tel-img {
        width: 50px;
        height: 80px;
        border-radius: 10px;
    }

    .class-item p {
        margin-top: 10px;
    }

    .teach-img {
        width: 200px;
        height: auto;
        border-radius: 10px;
    }

    .c-button {
        font-family: "Zen Kurenaido", sans-serif;
        border-radius: 16px;
        color: #000;
        background-color: #FFF279;
    }

    .c-button:hover {
        font-family: "Zen Kurenaido", sans-serif;
        border-radius: 16px;
        color: #fff;
        background-color: #777777;
    }

    .co-button {
        font-family: "Zen Kurenaido", sans-serif;
        border-radius: 16px;
        color: #000;
        background-color: #FFF279;
    }

    .co-button:hover {
        font-family: "Zen Kurenaido", sans-serif;
        border-radius: 16px;
        color: #fff;
        background-color: #777777;
    }

    .t-button {
        font-family: "Zen Kurenaido", sans-serif;
        border-radius: 16px;
        color: #000;
        background-color: #FFF279;
    }

    .t-button:hover {
        font-family: "Zen Kurenaido", sans-serif;
        border-radius: 16px;
        color: #fff;
        background-color: #777777;
    }
</style>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="main-container">
    <div class="main">
        <div class="video">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/evJazpDJ7eQ" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        
        <div class="courses">
            <h2>課程展示</h2>
            <div class="class">
                {% for course in courses %}
                    <div class="class-item">
                        <a href="{{ course.get_absolute_url }}">
                            <img src="{{ course.image.url }}" alt="{{ course.name }}" class="class-img">
                            <p><button class="c-button">{{ course.name }}</button></p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <div id="about">
            <h2>教練團隊</h2>
            <div class="coach">
                {% for coach in coaches %}
                    <div class="coach-item">
                        <a href="{{ coach.get_absolute_url }}">
                            <img src="{{ coach.photo.url }}" alt="{{ coach.name }}" class="coach-img">
                            <p><button class="co-button">{{ coach.name }}</button></p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="teach">
            <h2>羽球教學</h2>
            <a href="{% url 'power_ball' %}"><img src="{% static 'images/t-sq.jpg' %}" alt="殺球" class="teach-img"><button
                    class="t-button">殺球</button></a>
            <a href="{% url 'left_right_ball' %}"><img src="{% static 'images/t-pq.jpg' %}" alt="左右平球"
                    class="teach-img"><button class="t-button">左右平球</button></a>
            <a href="{% url 'small_ball' %}"><img src="{% static 'images/t-tqxq.jpg' %}" alt="小球/挑球"
                    class="teach-img"><button class="t-button">小球/挑球</button></a>
        </div>

        <div class="QA">
            <h2>羽球Q&A</h2>
            <h3><b>打羽球好處:</b></h3>
            <b>1.促進血液循環，提升新陳代謝</b><br>
            透過大量流汗、體溫升高，血流速度將會加速，長期持續運動也能消耗血糖與肝醣、鍛鍊肌肉，讓您更不易肥胖與出現三高的症狀。<br>
            <b>2.長高</b><br>
            運動中有許多的伸展與跳躍動作，有助於發育中孩童拉長身高，而對於已脫離發育期的大人，也能防止肌肉退化與鍛鍊下盤的效果。<br>
            <b>3.鍛鍊眼球肌肉</b><br>
            廣義上來說，所有球類運動都有類似的效果，只是羽球因為質量輕盈、體積小巧，因此目光在追蹤羽球時需耗費更多的注意力，間接起到鍛鍊眼部肌肉的效果。<br>
            <b>4.運動使你快樂</b><br>
            整天坐在辦公室裡，屁股都要坐開花了嗎？還是你是站在服務的第一線，面對客人的無理要求還要笑臉迎人呢？快來打羽毛球吧，每一次的揮拍都是一次的釋放，讓你日常累積的壓力bye~bye~。<br>
            <h3><b>打羽球常見的運動傷害:</b></h3>
            羽球屬於較激烈的球類運動，初學者不明就裡的亂打，可能對身體造成損傷，這些傷害雖不致命，卻因不易發現而持續累積，逐漸變成嚴重的運動傷害。為您整理以下幾種常見傷害，若有類似狀況，請儘速尋求教練或醫師協助。<br>
            <b>1.手部、腕部關節拉傷</b><br>
            揮拍是羽球重要動作，若肌肉強度不夠，急速揮拍容易對關節造成傷害。<br>
            <b>2.腰部肌肉拉傷</b><br>
            扭腰是運動常見的發力動作，羽球每次的發球、折返跑、殺球都需腰部肌肉的配合，因此若肌肉強度不夠或未掌握發力技巧，容易造成腰部肌肉受傷。<br>
            <b>3.椎間盤突出</b><br>
            常見症狀為放射狀的方式在臀部以下之處引起不適，或也可能出現上肢無力。椎間盤突出是相當嚴重的運動傷害，長期不處理可能會進一步引發神經病變與肌肉萎縮等。建議若有類似情況應立即尋求專業醫生協助。<br>
            <b>4.膝關節、韌帶、阿基里斯腱、腳踝傷害</b><br>
            羽球相當要求下盤肌肉的帶動，舉凡折返跑、急煞、跳躍發球或殺球，無一不是對下盤肌肉的殘酷試煉，因此，這些運動傷害在初學者中很常見。 <br>
        </div>
    </div>
    <div class="sidebar">
        <h2>聯絡我們</h2>
        <p>有任何建議都可以聯絡我們喔!</p>
        <img src="{% static 'images/lineicon.png' %}" alt="Line" class="line-img"><br>
        <img src="{% static 'images/LINE.jpg' %}" alt="Lineqr" class="lineqr-img">
        <p>透過行動條碼加入LINE好友<br>請在LINE應用程式上開啟「好友」分頁，點選畫面右上方用來加入好友的圖示，接著點選「行動條碼」，然後掃描此行動條碼。<br>
        </p>
        <img src="{% static 'images/mailicon.png' %}" alt="Mail" class="mail-img">
        <p>badminton@gmail.com</p>
        <p></p>
    </div>
</div>
{% endblock %}
