{% extends 'base.html' %}

{% load static %}

{% block title %}<title>左右/正反平球</title>{% endblock %}
{% block content %}
<style>
    @media screen and (max-width: 320px) {
        .g-header-container.fixed {
            padding: 5px;
        }

        .g-footer-container {
            padding: 5px;
        }

        .i-button {
            margin-right: 5px;
            font-size: 12px;
        }
    }

    .SQ {
        font-family: "Zen Kurenaido", sans-serif;
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .video-container {
        width: 100%;
        max-width: 800px;
        aspect-ratio: 16 / 9;
    }

    iframe {
        width: 100%;
        height: 100%;
        border-radius: 10pt;
    }

    .video-teach {
        margin-bottom: 20px;
        padding: 10px 0px 10px 0px;
    }

    .video {
        margin-bottom: 20px;
    }

    video {
        width: 100%;
        height: auto;
    }

    .button-container {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .i-button {
        font-family: "Zen Kurenaido", sans-serif;
        border-radius: 16px;
        color: #000;
        background-color: #FFF279;
        margin: 0 5px;
    }

    .i-button:hover {
        font-family: "Zen Kurenaido", sans-serif;
        border-radius: 16px;
        color: #fff;
        background-color: #777777;
    }
</style>

<div class="HY">
    <h2>羽球教學</h2>
    <div class="video">
        <div class="video-teach">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/ppYeUspjgVY" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>

            </div>
        </div>
    </div>
    <h1>左右/正反平球</h1>
    <p>左右/正反 平球是羽球當中最長出現的球路之一，擊球後球會以跟球網差不多的高度飛過。</p>
    <div class="button-container">
        <a href="{% url 'power_ball' %}"><button class="i-button">殺球</button></a>
        <a href="{% url 'small_ball' %}"><button class="i-button">小球/挑球</button></a>
        <a href="{% url 'home' %}"><button class="i-button">回首頁</button></a>
    </div>
</div>



{% endblock %}
