{% extends 'base.html' %}

{% load static %}

{% block title %}
  <title>會員中心</title>
{% endblock %}

{% block content %}
  <style>
    @media screen and (max-width: 320px) {
      .g-header-container.fixed {
        padding: 5px;
      }
    
      .g-footer-container {
        padding: 5px;
      }
    
      .m-button {
        margin-right: 5px;
        font-size: 12px;
      }
    }
    
    .VIP {
      font-family: 'Zen Kurenaido', sans-serif;
      margin-top: 30px;
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    
    .container {
      max-width: 600px;
      margin: auto;
      padding: 20px;
      border-radius: 10px;
    }
    
    .title {
      text-align: center;
      font-size: 24px;
      margin-bottom: 20px;
    }
    
    .profile-info {
      text-align: left;
      margin-bottom: 20px;
    }
    
    .profile-info p {
      margin-bottom: 10px;
    }
    
    .button {
      text-align: right;
    }
    
    .b-button {
      font-family: 'Zen Kurenaido', sans-serif;
      border-radius: 16px;
      color: #000;
      background-color: #ffecd5;
      margin-right: 15px;
    }
    
    .b-button:hover {
      font-family: 'Zen Kurenaido', sans-serif;
      border-radius: 16px;
      color: #000;
      background-color: #fde0a6;
    }
    
    .l-button {
      font-family: 'Zen Kurenaido', sans-serif;
      border-radius: 16px;
      color: #000;
      background-color: #ffecd5;
      margin-right: 15px;
    }
    
    .l-button:hover {
      font-family: 'Zen Kurenaido', sans-serif;
      border-radius: 16px;
      color: #000;
      background-color: #fde0a6;
    }
  </style>
  <div class="VIP">
    <div class="container">
      <div class="title">會員中心</div>
      <div class="button">
        <a href="{% url 'edit_member' %}"><button class="b-button">編輯個人資料</button></a>
        <a href="{% url 'logout' %}"><button class="l-button">登出</button></a>
      </div>
      <div class="profile-info">
        <p>姓名: {{ form.full_name.value }}</p>
        <p>暱稱: {{ form.nickname.value }}</p>
        <p>性別: {{ form.gender.value }}</p>
        <p>出生年月日: {{ form.birth_date.value }}</p>
        <p>聯絡電話: {{ form.phone.value }}</p>
        <p>Email: {{ form.email.value }}</p>
      </div>

      <div class="course-records">
        <div>
          <a href="{% url 'registration_history' %}">查詢歷史紀錄</a>
        </div>
        </div>
    </div>
  </div>
{% endblock %}