{% extends 'base.html' %}

{% load static %}

{% block title %}<title>商城中心</title>{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
    @media screen and (max-width: 320px) {
        .g-header-container.fixed {
            padding: 5px;
        }

        .g-footer-container {
            padding: 5px;
        }

        .m-button {
            margin-right: 5px;
            font-size: 12px;
        }
    }

    .mall {
        text-align: center;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }    

   .title{
        text-align: center;
   }
    .cart-icon {
        position: absolute;
        top: 11%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 24px;
    }
    
    .product {
        font-family: "Zen Kurenaido", sans-serif;
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 400px;
    }

    .product img {
        border-radius: 5pt;
        object-fit: cover;
    }


    .i-button {
        font-family: "Zen Kurenaido", sans-serif;
        border-radius: 16px;
        color: #000;
        background-color: #FFF279;
    }

    .i-button:hover {
        font-family: "Zen Kurenaido", sans-serif;
        border-radius: 16px;
        color: #fff;
        background-color: #777777;
        }
    .button-container{
        text-align: center;
    }
</style>

<div class="mall">
    <div class="title">
        <h1>商城</h1>
    </div>
    <a href="{% url 'shopingcar' %}"><i class="fas fa-shopping-cart cart-icon"></i></a>
    <div class="container">
    <div class="product">
    <img src="{% static 'images/market-01.jpg' %}" alt="VICTOR 新手球拍 ARS3200 球拍包含線">
    </div>
    
    <div class="button-container">
        <a href="{% url 'home' %}"><button class="i-button">回首頁</button></a>
        <a href="{% url 'mall' %}"><button class="i-button">回上頁</button></a>
    </div>
    </div>
</div>
{% endblock %}