{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  @media screen and (max-width: 320px) {
    .g-header-container.fixed {
      padding: 5px;
    }
    .g-footer-container {
      padding: 5px;
    }
    .m-button {
      margin-right: 5px;
      font-size: 12px;
    }
  }
  
  .VIP {
    font-family: 'Zen Kurenaido', sans-serif;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .reset-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Zen Kurenaido', sans-serif;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .submit-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #a8e6cf;
    font-family: 'Zen Kurenaido', sans-serif;
  }
  
  .submit-button:hover {
    background-color: #81c784;
  }
</style>
<div class="VIP">
  <div class="reset-password-container">
    <div class="title">重設密碼</div>
    <form method="post">
      {% csrf_token %}
      <div class="input-group">
        <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
        {{ form.new_password1 }}
      </div>
      <div class="input-group">
        <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
        {{ form.new_password2 }}
      </div>
      <button class="submit-button" type="submit">重設密碼</button>
    </form>
  </div>
</div>
{% endblock %}