{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  @media screen and (max-width: 320px) {
    .g-header-container.fixed {
      padding: 5px;
    }
  
    .g-footer-container {
      padding: 5px;
    }
  
    .m-button {
      margin-right: 5px;
      font-size: 12px;
    }
  }
  
  .VIP {
    font-family: 'Zen Kurenaido', sans-serif;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Zen Kurenaido', sans-serif;
  }
</style>
<div class="VIP">
  <div class="error-container">
    <div class="title">無效的重設密碼連結</div>
    <p>該連結無效或已過期。請重新嘗試。</p>
  </div>
</div>
{% endblock %}
