{% extends 'base.html' %}

{% load static %}

{% block title %}<title>零打班</title>{% endblock %}
{% block content %}
<style>
    @media screen and (max-width: 320px) {
        .g-header-container.fixed {
            padding: 5px;
        }

        .g-footer-container {
            padding: 5px;
        }

        .m-button {
            margin-right: 5px;
            font-size: 12px;
        }
    }

    .zerodozen {
        font-family: "Zen Kurenaido", sans-serif;
        margin-top: 30px;
        margin-left: 50px;
        margin-right: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .zerodozen h2 {
        margin-top: 5px;
    }

    .i-button {
        margin-top: 10pt;
        font-family: "Zen Kurenaido", sans-serif;
        border-radius: 16px;
        color: #000;
        background-color: #FBFF36;
    }

    .i-button:hover {
        font-family: "Zen Kurenaido", sans-serif;
        border-radius: 16px;
        color: #fff;
        background-color: #777777;
    }

    .title {
        display: flex;
    }

    .title1 {
        margin-top: 28pt;
        margin-left: 5pt;
    }

    .time {
        list-style-type: none;
        font-size: 12pt;
        margin-top: 10pt;
    }
</style>

<div class="onetoone">
    <div class="zerodozen">
        <div class="title">
            <h1>零打班</h1>
            <div class="title1">(適合羽球全階級)</div>
        </div>

        <img src="{% static 'images/c-zerodozen.jpg' %}" alt="初階班" class="class-img">

        <div class="about">
            <p>招生對象：不限制，只要想打羽球、想來揮灑汗水的所有人皆可以參加！</p>
            <p>(需自備球具)</p>

            <h2>基礎零打班：適用羽球階級7以下</h2>
            <p>課程費用：350/次</p>

            <h2>進階零打班：適用羽球階級8以上</h2>
       T     <p>課程費用：350/次</p>
        </div>

        <div class="time">
            <h2>課程時段:</h2>
            <p>星期五&星期六&星期日 晚上7:00~10:00</p>
            <h2>指導教練:</h2>
            <ul>
                <li>蔡元振 教練、張秉洋 教練(五)</li>
                <li>林奕勝 教練、張詒婷 教練(六)</li>
                <li>張秉洋 教練、林奕勝 教練(日)</li>
            </ul>
        </div>
        <a href="{% url 'home' %}"><button class="i-button">回首頁</button></a>
    </div>
    {% endblock %}